[submodule "depthai"]
	path = depthai
	url = https://github.com/gromovnik1337/depthai.git
[submodule "depthai-python"]
	path = depthai-python
	url = https://github.com/gromovnik1337/depthai-python.git
